ENV=DEV


API_TITLE=lowest-service-api
API_HOST=http://localhost:8034
API_VERSION=0.1.0
API_PREFIX=/api
API_DEBUG=True


DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=postgres


UVICORN_HOST=0.0.0.0
UVICORN_PORT=8034